/* css reset */

html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

  /* styles */

  .burger-menu {
      background-color:#1beecc ;
      border: none;
      border-radius: 50%;
      width:45px;
      height: 45px;

  }
  .burger-menu .line {
      width: 20px;
      height: 2px;
      background-color: white;
      margin:auto;
      margin-bottom: 3px;
  }


